# dependencies
node_modules/
.env
.env.*
# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
# editor
.vscode/
.idea/
.DS_Store
# coverage
coverage/
# prod
dist/
# local
src/backend/uploads/
